/* @font-face {
  font-family: 'IBMPlexSerif';
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/IBMPlexSerif-Text.woff2') format('woff2');
} */

@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-display: swap;
  font-weight: 700;
  font-style: bold;
  /* src: url('./fonts/IBMPlexSerif-TextItalic.woff2') format('woff2'); */
  src: url('./fonts/Ubuntu-Bold.woff') format('woff');

}
@font-face {
  font-family: 'Ubuntu', sans-serif;
  font-display: swap;
  font-weight: 700;
  font-style: bold;
  /* src: url('./fonts/IBMPlexSerif-TextItalic.woff2') format('woff2'); */
  src: url('./fonts/Ubuntu-Bold.woff2') format('woff2');

}
